# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff

# Exclude notebooks from GitHub language statistics
*.ipynb linguist-detectable=false